[ngAccordionTrigger] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
}

[ngAccordionPanel] {
    padding: 16px;
}

[ngAccordionTrigger] svg {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;
  transform: rotate(90deg);
  pointer-events: none;
}

[ngAccordionTrigger][aria-expanded='true'] svg {
  transform: rotate(-90deg);
}